<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true/>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>Texas Watch needs your location to show registered sex offenders near you.</string>
        <key>NSContactsUsageDescription</key>
        <string>Texas Watch checks your contacts against the sex offender registry to help keep you informed.</string>
        <key>UIAppFonts</key>
        <array>
            <string>jetbrains_sans_bold.ttf</string>
            <string>jetbrains_sans_semibold.ttf</string>
            <string>jetbrains_sans_regular.ttf</string>
        </array>
    </dict>
</plist>
